.emoji, 
.emotion {
    margin: 0;
}

.emoji {
    font: 45px 'Quicksand';
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    background-color: #767c77;
    border: none;
    width: 150px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 10.5%;
}

.emotion {
    font-size: 20px;
    font-weight: bold;
    color: #ffccd2;
}

hr.separator {
    margin-top: 50px;
    overflow: visible;
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
  
hr.separator:after {
    content: 'ยง';
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #9cada4;
}

.activity {
    border-radius: 30px;
    background-color: #ffccd2;
    padding: 10px;
    margin-top: 30px;
    width: 50%;
    float: right;
    transition: transform .4s;
    font-size: 20px;
}

.activity-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

#other-activities{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#display-activity {
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #fff;
    font-size: 20px;
}

#emoji-list {
    margin-top: 30px;
}

.emoji:hover,
.emoji.active {
    background-color: #435446;
}

html {
    scroll-behavior: smooth;
}