#entry-preview{
    border-radius: 30px;
    background-color: lightpink;
    padding: 20px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 30px;
    max-height: 100px;
    overflow-y: hidden;
    transition: transform .4s;
}

#entry-preview:hover {
    transform: scale(1.01);
    box-shadow: 0 5px 15px rgba(177, 0, 74, 0.4);
}

.entry-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#entry-date{
    
}

#entry-title{
    font-size: large;
    font-weight: bold;
}

