#entry{
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    border: 20px solid lightpink;
    background-color: white;
    padding: 20px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 15px;
    max-height: 300px;
    overflow-y: auto;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 80%;
}

th, td {
    padding: 15px;
}

.positive,
.negative {
    width: 50%;
}

.names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}