.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
}

.grid-container-full {
    display: grid;
    grid-template-columns: 65% 35%;
    padding: 10px;
    vertical-align: center;
}

.grid-item {
    border-radius: 40px;
    border: 20px solid lightpink;
    background-color: white;
    padding: 20px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 30px;
    margin: 15px;
    max-height: 100%;
    overflow-y: auto;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 80%;
}

th, td {
    padding: 15px;
}

.positive,
.negative {
    width: 20%;
}

.names {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid-item2 {
    border: none;
}

.pie {
    margin-top: 30px;
}

