#entry{
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    border: 20px solid lightpink;
    background-color: white;
    padding: 20px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 15px;
    max-height: 300px;
    overflow-y: auto;
}